@using UI.Model
@if (ShowBuilder)
{
    <div class="builder-modal">
        <div class="builder-modal-content">
            <div class="display-avatar-bar">
                <AvatarUI Avatar="avatar" Size="150"/>
                <hr/>
            </div>
            <div class="avatar-pieces-container">

            </div>
        </div>
    </div>
}

@code {

    [Parameter] public bool ShowBuilder { get; set; } = false;
    private Avatar avatar = new("Face", new RGB(244, 164, 96), "Hair1", new RGB(139, 0, 0), "Shirt1", new RGB(0, 0, 255));

    private void OpenBuilder()
    {
        ShowBuilder = true;
    }

}