@if (ShowBuilder)
{
    <div class="builder-modal">
        <div class="builder-modal-content">
            <div class="display-avatar-bar">
                <div class="avatar-images">
                    <div class="avatar-image-part"
                         style="
                         /*background:url(images/avatars/Pieces/Face/Neck.png) center/contain no-repeat;*/
                         background-blend-mode:darken;
                         mask:url(images/avatars/Pieces/Face/Neck.svg) center/contain no-repeat; 
                         background-color: sandybrown">
                    </div>
                    <div class="avatar-image-part"
                         style="
                         /*background:url(images/avatars/Pieces/Face/Face.png) center/contain no-repeat;*/
                         background-blend-mode:darken;
                         mask:url(images/avatars/Pieces/Face/Face.svg) center/contain no-repeat; 
                         background-color: rosybrown">
                    </div>
                    <div class="avatar-image-part"
                         style="
                         /*background:url(images/avatars/Pieces/Hair/Hair1.png) center/contain no-repeat;*/
                         background-blend-mode:darken;
                         mask:url(images/avatars/Pieces/Hair/Hair1.svg) center/contain no-repeat; 
                         background-color: darkred">
                    </div>
                    <div class="avatar-image-part"
                         style="
                         /*background:url(images/avatars/Pieces/Shirt/Shirt1.png) center/contain no-repeat;*/
                         background-blend-mode:darken;
                         mask:url(images/avatars/Pieces/Shirt/Shirt1.svg) center/contain no-repeat; 
                         background-color: blue;">
                    </div>
                    <div class="avatar-image-border">
                        
                    </div>
                </div>
                <hr/>
            </div>
            <div class="avatar-pieces-container">

            </div>
        </div>
    </div>
}

@code {

    [Parameter] public bool ShowBuilder { get; set; } = false;

    private void OpenBuilder()
    {
        ShowBuilder = true;
    }

}