.open-builder-button-container {
    display: inline-block;
}

.builder-modal {
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 50%;
    border: 1px solid black;
    position: relative;
    display: flex;
    justify-content: center;
}

.builder-modal-content {
    width: 75%;
    height: 75%;
    background-color: white;
    margin-top: 50px;
    border-radius: 25px;
}

.display-avatar-bar {
    margin-top: 15px;
    height: 80px;
    display: flex;
    justify-content: center;
}