.avatar-images {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    /*border: 2px solid black;*/
    height: 100%;/*150px;*/
    width: 100%;
}


.avatar-image-part {
    width: 100%;
    position: absolute;
    display: inline-block;
}

.avatar-image-part:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.avatar-image-border {
    border: 5px solid black;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
}