@using UI.Model

<div class="export-button-container">
    <img src="images/svgs/export.svg"
         class="export-button"
         alt="Export"
         @onclick="() => showDialog = !showDialog"/>
</div>


@if (showDialog)
{
    <div class="export-modal">
        <div class="modal-content">
            <div class="button-bar">
                <img src="images/svgs/exit.svg"
                     class="exit-button"
                     alt="Exit"
                     @onclick="() => showDialog = !showDialog"/>
            </div>

            <div class="table-container">
                <table>
                    @foreach (var participant in Participants)
                    {
                        <tr>
                            <td>@participant.Name</td>
                            <td>@FormatTime(participant.Time)</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public List<Participant> Participants { get; set; } = [];

    private bool showDialog;

    private string FormatTime(long time) =>
        (time / 1000).ToString();

}