@page "/"
@inject IJSRuntime jsRuntime

<PageTitle>Home</PageTitle>

<div id="canvas" tabindex="0" class="canvas" @onkeydown="HandleKeyPress">
    <div class="card">
        <h1>Taletidstageren</h1>
        <div class="card-box">
            <label style="text-align: center">Tilføj deltager:</label>
            <div id="name-input">
                <input 
                    type="text" 
                    @bind="ParticipantName" 
                    @bind:event="oninput"
                    @onkeydown="OnEnterPress"/>
                <img src="images/@(selectedGenderAvatar)"
                     alt="Profile"
                     style="height:30px; border-radius: 50%; cursor: pointer"
                     @onclick="SwapGender"/>
            </div>
            <button @onclick="AddParticipant" class="add-button">Tilføj</button>
        </div>
    </div>
    @foreach (var participant in participants)
    {
        <ParticipantUI Participant="participant" OnStartTiming="StopAllOthers"/>
    }

</div>